<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59271748190-s7sajnf431l829e6si73bssp2ebtgdro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59271748190-s7sajnf431l829e6si73bssp2ebtgdro</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>59271748190-6s6lbi32l7s64d61b5sb2unneuikq12f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiuAeWXqRG8S7_e4cf_VdIpxC4ya8knUo</string>
	<key>GCM_SENDER_ID</key>
	<string>59271748190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinknlocal.Thinknlocal</string>
	<key>PROJECT_ID</key>
	<string>thinknlocal-6f37e</string>
	<key>STORAGE_BUCKET</key>
	<string>thinknlocal-6f37e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59271748190:ios:6abf4de96396d107a672cf</string>
</dict>
</plist>